<html>
  <body>
    <center>
      <h2>Your Original Url is: <%= @original_url%></h2>
      <h2>Your Shortener Url is: <%= link_to @short_url, @short_url, :target => "_blank"%></h2>
    </center>
  </body>
</html>
